* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  top: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Guest Url form */
.url-form {
  justify-content: center;
  text-align: center;
  color: black;
}

.landingPage {
  margin-top: 50px;
}

.urlResponse {
  margin-top: 30px;
  text-align: center;
  z-index: 2;
  padding: 4rem;
  background-color: white;
  opacity: 0.6;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
}

/* Register form */

.register {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Login form */

.login {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPassword {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyEmail {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
  position: fixed;
}

.spin {
  margin: 50px 0;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 15px;
}
