footer {
  height: 1.5rem;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  margin-top: 0.2rem;
  text-align: center;
  color: black;
  font-size: 13px;
}
