@import "~antd/dist/antd.css";

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: black;
  top: -1px;
}

.menu__logo {
  width: 70px;
  float: left;
}

.menu__title {
  width: 70px;
  float: left;
}

.menu__title h2 {
  color: white;
  display: inline-block;
  position: relative;
  top: 20px;
}
.menu__title h2:hover {
  color: rgb(127, 110, 201);
}
.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
  background-color: black;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
  background-color: black;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
  color: white;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
  background-color: black;
}

.menu__container .menu_left {
  float: left;
  margin-top: 14px;
}

.menu__container .menu_right {
  float: right;
  margin-top: 14px;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}
.menu_drawer .ant-drawer-body .ant-btn {
  margin-left: 10px;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button.ant-btn-primary {
    display: inline-block !important;
    width: 20%;
    color: white;
    background-color: black;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 10px;
  }

  .menu_left,
  .menu_right {
    display: none;
  }

  .menu__logo a {
    margin-left: -40px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 20px 40px;
  }
  .menu_drawer {
    font-weight: bold;
  }
}
